<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gtop.work.datasource.dao.second.OrderDao">

    <select id="getOrderById" resultType="java.lang.String">
        SELECT `ordr_name` AS orderName FROM `order2` WHERE id = #{id}
    </select>

</mapper>